/* SearchBox.module.css */
.label{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  color: whitesmoke;
  }
  
  .input {
    color: #ececec;
    font-size: 32px;
        border-radius: 8px;
        border-color: #ececec;
        background-color: inherit;
        box-shadow: 4px 4px 8px rgb(0 203 255 / 50%);
        margin-bottom: 40px;
        width: 500px;
        transition: border-color 0.25s;
}
  
  