/* ContactForm.module.css */
.form {
  margin: auto;
	border: 1px solid #646cff;
	border-radius: 8px;
	width: 400px;
	padding: 20px;
	margin-bottom: 40px;
    
  }
  .label {
    text-align: start;
    display: block;
    margin-bottom: 8px;
  }
  .formInputWrapper{
    position: relative;
  }
  
  .field {
    border-radius: 8px;
    padding-block: 8px;
    padding-inline: 12px;
    min-width: 300px;
    width: 90%;
    margin-bottom: 30px;
  }
  
  .error {
    display: block;
    font-size: 14px;
    color: red;
  }
  
  .btn {
    padding: 8px 16px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    width: 320px;
  }
  